body {
    max-width:100vw;
    min-width: 100vw; 
    min-height: 100vh;
    margin:0;
    overflow-x:hidden;
    height: 100%;

}
.page {
  position: relative;
  min-height: 100vh;
  font-family: "微軟正黑體";
  
}
.page .header{
 
  display: flex;
  flex-direction: row;
   position: absolute;
   color: rgb(31, 30, 30);
   top:0;
   width: 100%;
   padding: 2%;
   font-size: 10px;
   box-shadow: 0 2px 4px 0 rgba(71, 71, 71, 0.2), 0 3px 10px 0 rgba(73, 73, 73, 0.19);

}
 .footer{
 
  position: absolute;

  bottom:0;
  height: 15%;
  width:100%;
  

}
.buttonStyle {
  margin: '10px 10px 10px 0';
}

.page .tab {

  position: absolute;
  display: flex;
  flex-direction: column;
  float: left;
  top:20%;
  width: 13%;
  margin: 1%;
 
  
}

 .button{
border: 0;

font-family: "微軟正黑體";
font-size: 18px;
font-weight: 700;
text-align: left;
padding: 5%;
border: 2px solid #555555;
border-radius: 20px;
margin: 1.5%;
background-color: #555555;
color: white;
}

 .subButton{
  font-size: 14px;
  background-color: white;
  font-weight: 700;
  color:rgb(71, 71, 71);
  border:0;

}

.button:hover {
  color:rgba(0, 0, 0, 0.575);
  background-color: white;
}

.subButton:hover{
  background-color: rgb(226, 226, 226);
  color:rgb(15, 12, 6)

}
.subButton.active{
  background-color: rgb(226, 226, 226);


}
.page .tabContainer{
  
  width: 80%;
  height:100%;
  position: absolute;
  top:9%;
  left:11%;
  margin: 5%;
  
 


}
.dataFilter{
width: 1150px;


}
.auditstate{
  border-radius: 9px;
  padding: 6px;
  width:80%;
  background-color: #1e88e5;
  color: white;
  text-align: center;
  font-weight: 700;
  font-family: "微軟正黑體";
  }
  .active{
  
  background-color:#e53935;
  
}
.dialogText{
  font-family: "微軟正黑體";
  color: #bdbdbd;
  font-size: 13px;
}
.dialogTitle{

  color: #bdbdbd;
  font-family: "微軟正黑體";
  padding: 1%;
  border: 1px solid #cfcece;
  width:34%;
}
.pinf{
  width:12%;
}
.pvideo{
  width:8%;
}
.pservice{
  width:45%;
}
.img{
  display: flex;
  flex-direction: row;
}
.saveButton{
  width:100%;
  background-color: white;
}
.list{
  position: relative;
  left:15%;
}